.form-inner {
  width: 400px;

  margin: auto;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 15px 5px rgb(200, 200, 200);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.form-inner h1 {
  color: #fc5b62;
  margin-bottom: 30px;
}
.google-btn {
  display: block;
  margin: auto;
  background-color: transparent;
  border: 2px solid #fc5b62;
  color: #fc5b62;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.google-btn img {
  width: 30px;
  margin-right: 10px;
}

.form-inner p {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 500;
}
.signUp-link {
  text-decoration: none;
  color: #fc5b62;
}

@media only screen and (max-width: 688px) {
  .form-inner {
    width: 300px;
  }
}
